.heading.mod-primary {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heading.is-hidden {
  display: none;
}

.heading.mod-search-results {
  text-align: center;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid getColor(gray, lighter);
}
