.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

  .search-box-label {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .search-box-input {
    display: block;
    font-size: 1.5rem;
    max-width: 25rem;
  }
